<form class="" action="/bookmarks/add" method="get">
  <input type="submit" name="" value="Add link">
</form>

<%= flash[:notice] %>



<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form class="" action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete">
      </form>
      <form class="" action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" name="" value="Edit">
      </form>
    </li>
  <% end %>
</ul>
